- name: Cachetool Opcache Reset
  shell : "php {{deploy_helper.shared_path}}/cachetool.phar opcache:reset"
  listen: "cachetool_opcache_reset"

- name: Send a message to Telegram Group
  community.general.telegram:
    token: "{{telegram_token}}"
    chat_id: "{{telegram_chat_id}}"
    msg: Ansible task finished
  listen: "send_notify_telegram"
